
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Merriweather', serif; */
    font-family: 'Work Sans', sans-serif;
}
.container{
    /* width: 100%; */
    background: rgba(255, 144, 14, 0.10);
    padding: 10px;
    /* margin:0 auto; */
}
                          /* This is header section  */
.g3-architects{
    width: 80%;
    margin: 40px auto;
    
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-right > a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #474747;
    padding: 0 18px;
}
nav > h3{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.nav-right{
    display: flex;
    align-items: center;
}

                             /* this is header text section  */


.header-title{
    display: flex;
    flex-direction: column;
    margin: 50px auto;

}
.title1, .title2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 38px;
    font-weight: 700;
}
.title-paragraph{
    width: 52%;
    margin: 10px auto;
}
.btn{
    /* width: 100px; */
    margin: 19px auto;
    border-radius: 8px;
    background: #FF900E;
    width: 180px;
    height: 64px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: none;
}

                                /* this is picture section  */

.banner > img{
    width: 100%;
}

/* this is discussion section  */
.discussion{
    width: 80%;
    margin: 40px auto;
    display: flex;

}
.discussion-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
}
.discussion-text{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    /* align-items: center; */
    justify-content: center;
}
.discussion-text h2{
    font-size: 30px;
    margin-bottom: 16px;
    width: 300px;
}
.gray{
    color: gray;
}
.tomato{
    color: #FF900E;
}

                            /* fetures container  */

.fetures-container{
    display: flex;
    width: 80%;
    margin: 30px auto;
}
.fetures-text{
    width: 50%;
    padding: 10px 0;
}
.fetures-img1>img{
    width: 88%;
    padding-left: 80px ;
}
.fetures-img{
    width: 50%;
}
.fetures-text1{
    width: 80%;
    

   
}
.fetures-text1 h2{
    color: var(--Dark-01, #131313);
    font-size: 40px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;

}
.fetures-text1 p{
    color: gray;
    font-size: 14px;
    margin-top: 10px;
}
.fetures-text2{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    width: 80%;
    margin: 8px 0;
    padding: 16px;
}
.fetures-text2 p{
    color: gray;
    font-size: 14px;
    margin-top: 10px;
}
.ten-year{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    position: relative;
    top: -55px;
    height: 110px;
    background-color: #FF900E;
    color: white;
    border-radius: 5px;

}

.some{
    width: 80%;
    margin: 10px auto;
}
.some h2{
    font-weight: 700;
    font-size: 36px;
}
.some p{
    color: #474747;
    width: 600px;
    margin-top: 18px;
}

/* my description  */

.description-container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 60px auto;
}
.description{
    width: 170px;
    height: 170px;
    border: 1px solid #FF900E;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.description img{
    width: 40px;
    height: 40px;
    
}
.description h3{
    margin: 10px;
    color: #424242;
    font-size: 34px;
}
.description p{
    color: gray;
}
                    /* sponsored title  */

.sponsored-title{
    width: 80%;
    margin: auto;
    
    
}
.sponsored-title h3{
    justify-content: center;
    display: flex;
    font-size: 28px;
}
.sponsored-title p{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #424242;
}