
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Merriweather', serif; */
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 100%;
    background: rgba(255, 144, 14, 0.10);
    padding: 10px;
}
        /* This is header section  */
.g3-architects{
    width: 80%;
    margin: 40px auto;
    
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-right > a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #474747;
    padding: 0 18px;
}
nav > h3{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.nav-right{
    display: flex;
    align-items: center;
}

    /* this is header text section  */


.header-title{
    display: flex;
    flex-direction: column;
    margin: 50px auto;

}
.title1, .title2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 38px;
    font-weight: 700;
}
.title-paragraph{
    width: 52%;
    margin: 10px auto;
}
.btn{
    /* width: 100px; */
    margin: 19px auto;
    border-radius: 8px;
    background: #FF900E;
    width: 180px;
    height: 64px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: none;
}

/* this is picture section  */

.banner > img{
    width: 100%;
}

/* this is discussion section  */
.discussion{
    width: 80%;
    margin: 40px auto;
    display: flex;

}
.discussion-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
}
.discussion-text{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    /* align-items: center; */
    justify-content: center;
}
.discussion-text h2{
    font-size: 30px;
    margin-bottom: 16px;
    width: 300px;
}
.gray{
    color: gray;
}
.tomato{
    color: #FF900E;
}